/* Core Stuff */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 80px 0 0;
  font-size: 1rem;
  line-height: 1.7;
  color: #606d6e;
  font-family: Oxygen, sans-serif;
}

h2 {
  font-size: 32px;
  line-height: normal;
  color: #107bae;
}

.container {
  position: relative;
  max-width: 55rem;
  margin: 0 auto;
}


/* Header */

.header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 40px;
  width: 100%;
  background: white;
  transform: translateY(-100%);
}

.sticky-top .header,
.sticky-up .header {
  outline: 1px solid #ddd;
  transform: translateY(-40px);
}

.sticky-transition .header {
  transition: transform .5s;
}

.header__hidden {
  display: none;
}

.header__logo {
  padding: 18px 0 0 90px;
  height: 80px;
}

.header__logo .residentie {
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  color: black;
}

.header__logo .overhamme {
  line-height: 1em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .06em;
  color: #107bae;
}

.header__logo .realisatie {
  display: block;
  line-height: 1.5em;
  font-size: .75em;
  font-weight: normal;
  font-family: Rufina, serif;
  color: #606d6e;
}

@media (min-width: 768px) {
  body {
    padding-top: 150px;
  }
  .header {
    outline: 1px solid #ddd;
    transform: translateY(-40px);
  }
  .sticky-top .header {
    height: 110px;
    outline: none;
    transform: translateY(0);
  }
  .header .container {
    height: 70px;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  .header__logo {
    height: 58px;
    padding: 0;
  }
  .header__logo .residentie {
    line-height: 24px;
    font-size: 24px;
    font-weight: normal;
    font-family: Oxygen, sans-serif;
    color: black;
  }
  .header__logo .overhamme {
    display: block;
    line-height: 20px;
    font-size: 27px;
    font-weight: bold;
    font-family: Oxygen, sans-serif;
    letter-spacing: .06em;
    color: #107bae;
  }
  .header__logo .realisatie {
    display: none;
    padding-top: 14px;
    line-height: 11px;
    font-size: 11px;
    font-weight: normal;
    font-family: Rufina, serif;
    color: #606d6e;
    z-index: -1;
  }
  .sticky-top .header__logo .realisatie {
    display: block;
  }
}


/* Nav > Toggle */

.nav__toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.nav__toggle:hover {
  background: #efefef;
}

.nav__toggle>svg {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -14px;
  margin-top: -14px;
  transition: transform .2s;
}

.nav__closer,
.nav--open .nav__opener {
  display: none;
}

.nav--open .nav__closer {
  display: block;
}

@media (min-width: 768px) {
  .nav__toggle {
    display: none;
  }
}


/* Nav > Links */

.nav__a {
  display: none;
  border: 0 solid transparent;
  border-width: 0 4px;
  padding: 1em;
  line-height: 1em;
  text-align: center;
  background: #efefef;
  color: #39393a;
  transition: border-color 1s;
}

.nav__a:hover {
  border-color: #ccc;
  transition: border-color .2s;
}

.nav__a--active {
  border-color: #14679e!important;
}

.nav--open .nav__a {
  display: block;
}

@media (min-width: 768px) {
  .nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__a {
    display: block;
    padding: 1em 0;
    background: none;
    border-width: 0 0 4px 0;
  }
}


/* Blueprints > Photo */

.photo {
  display: block;
  width: 100%;
  height: 56.25vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.photo.parallax {
  background-attachment: scroll;
}
.photo blockquote {
  display: none;
  margin: 0;
  border: 0;
  padding: 1.5em 2rem;
  font-family: Rufina, serif;
  font-size: 27px;
  line-height: 1.3em;
  background: rgba(16, 123, 173, 0.9);
  color: white;
}

.photo blockquote::before {
  content: '';
  display: block;
  margin-bottom: 1em;
  height: 4px;
  width: 100px;
  background: white;
}

.photo.right blockquote {
  left: auto;
  right: 0;
}

.photo.text-hidden blockquote {
  display: none;
}

@media only screen and (min-aspect-ratio: 16/9) {
  .photo.parallax {
    max-height: 75vh;
    background-size: 100% auto;
    background-attachment: fixed;
  }
}

@media (min-width: 768px) {
  .photo {
    position: relative;
  }
  .photo blockquote {
    display: block;
    position: absolute;
    z-index: 1;
    top: -1.5em;
    left: 0;
    max-width: 16em;
  }
}

@media (min-width: 12000px) {
  .photo picture {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 600px;
  }
  .photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: auto;
  }
}


/* Blueprints > Text */

.text {
  padding: 5rem 1em;
}

.text .container {
  max-width: 540px;
}

.text .container::before {
  content: '';
  display: block;
  margin-bottom: 1em;
  height: 4px;
  width: 100px;
  background: #107bae;
}

.text h2 {
  font-weight: normal;
  font-family: Rufina, serif;
}

.text p {
  font-size: 15px;
  font-family: Oxygen, sans-serif;
  color: #39393a;
}


/* Blueprints > Map */

.map {
  position: relative;
  height: 400px;
  height: 45vw;
  max-height: 60vh;
  background-position: center;
}

.map__marker {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -88px;
  margin-left: 46px;
}

.map svg {
  position: absolute;
  top: 0;
}

.map__text {
  position: absolute;
  top: 23px;
  left: 16px;
  width: 178px;
  font-size: 24px;
  line-height: 28px;
  color: black;
  text-align: center;
}

.map__text b {
  color: #14679e;
}


/* Blueprints > Floor */

.floors {
  margin: 3rem 0 5rem;
}

@media (max-width: 768px) {
  .floors .row {
    margin: 0;
  }
}

.floor {
  padding: 2rem 3rem;
  flex: 0 0 27.5rem;
  width: 27.5rem;
  max-width: 100%;
  font-size: 14px;
}

.floor h2 {
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}

.floor h2 + p {
  margin: .5em 0 1.5em;
  text-align: center;
}

.floor img {
  background: #14679e;
  height: auto;
  margin: 0 -2rem;
  width: calc(100% + 4rem);
}

.floor p {
  font-family: Rufina, serif;
  line-height: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 -1rem;
}

.row--numbers {
  justify-content: space-between;
  text-align: center;
  color: #107bae;
  font-size: 18px;
}

.row--numbers .col {
  display: block;
  padding: 2rem .5rem;
  flex: 1 0 auto;
}
.row--numbers .col img{
  min-height: 76px;
}
.row--numbers strong {
  display: block;
  font-size: 32px;
  line-height: 1.5em;
}

.row--logo {
  padding: 2rem 0 0;
  align-items: center;
  justify-content: center;
}

.row--logo img {
  margin: 2rem;
  max-width: 300px;
  max-height: 128px;
  width: auto;
  height: auto;
}

@media (min-width: 768px) {
  .text .row--logo {
    margin: 0 calc(1rem + 270px - 50vw);
  }
}


/* Section spacing */

.text + .photo {
  margin-top: 5rem;
}


/* Section alternatives */

.inverse {
  background: #14679e;
  color: white;
}

.inverse h2,
.inverse p {
  color: white;
}

.inverse .container::before {
  background: white;
}

a {
  color: #1F8CD6;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #175E91;
}

p a {
  font-weight: bold;
}

.downloads a {
  position: relative;
  display: block;
  font-family: Oxygen, sans-serif;
  outline: none;
}

.downloads a::after {
  position: absolute;
  left: -2rem;
  top: 2px;
  width: 18px;
  height: 18px;
  display: block;
  transition: transform .2s;
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='-9 -9 18 18'>  <g fill='none' stroke='#1F8CD6' stroke-linecap='round' stroke-width='2'>    <polyline points='-7 3, -7 7, 7 7, 7 3'/>    <polyline stroke-linejoin='round' points='-5 -1, 0 4, 5 -1'/>    <polyline points='0 -7, 0 4'/>  </g></svg>");
}

.downloads a:focus::after,
.downloads a:hover::after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='-9 -9 18 18'>  <g fill='none' stroke='#175E91' stroke-linecap='round' stroke-width='2'>    <polyline points='-7 3, -7 7, 7 7, 7 3'/>    <polyline stroke-linejoin='round' points='-5 -1, 0 4, 5 -1'/>    <polyline points='0 -7, 0 4'/>  </g></svg>");
}


/* Menu Settings */

.footer {
  padding: 3em 0;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 26px;
  background: #ededed;
  color: #898989;
}

.footer small {
  font-size: 12px;
  font-weight: normal;
}

.footer a {
  color: inherit;
  font-weight: inherit;
}
