<section class="floors {{ page.header.body_classes }}">
  <div class="container">
    <div class="row">
      {% for item in page.children %}
        {{ item.content }}
      {% endfor %}
    </div>
  </div>
</section>
