{% set image = page.media.images|first %}
<section class="photo {{ page.header.body_classes }}" style="background-image: url({{ image.url }})">
  <div class="container">
    <blockquote>
      {{ page.title }}
    </blockquote>
  </div>
</section>
