{% extends 'partials/base.html.twig' %}

{% block header_title %}
<div class="header__title">
  <div class="header__hidden">
    {{ parent() }}
  </div>
  <div class="header__logo">
    <span class="residentie">Residentie</span>
    <span class="overhamme">Overhamme</span>
    <span class="realisatie">Realisatie Frans Penne Invest nv</span>
  </div>
</div>
{% endblock %}
